<%-include('./partials/head.ejs', {title:"Register"});%>
<%-include('./partials/navbar.ejs');%>
<div class="container">
  <form class="Registration" method="POST">
    <div class="Registration">
        <h1>Registration Form</h1>
        <p class="text-danger" id="alerts">* To participate in event registration is mandatory.</p>
        </div>
    <div class="mb-3 row">
      <label for="inputName" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10 ">
        <input type="text" class="form-control" name="inputName" required/>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputRegNo" class="col-sm-2 col-form-label"
        >Registration No</label
      >
      <div class="col-sm-10 ">
        <input type="text" class="form-control" name="inputRegNo" required />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputEmail" class="col-sm-2 col-form-label"
        >College Email</label
      >
      <div class="col-sm-10">
        <input type="text" class="form-control" name="inputEmail" required />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPhoneNo" class="col-sm-2 col-form-label"
        >Phone Number</label
      >
      <div class="col-sm-10">
        <input type="text" class="form-control" name="inputPhoneNo" required />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputBranch" class="col-sm-2 col-form-label">Branch</label>
      <div class="col-sm-10">
        <select class="form-select" aria-label="Branch" name="inputBranch" required>
          <option value="Comp-A">Comp-A</option>
          <option value="Comp-B">Comp-B</option>
          <option value="IT">IT</option>
          <option value="Entc-A">Entc-A</option>
          <option value="Entc-B">Entc-B</option>
          <option value="Mech">Mech</option>
        </select>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputYear" class="col-sm-2 col-form-label">Year</label>
      <div class="col-sm-10">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="inputYear"
            id="inputYearFE"
            value="FE"
            checked
          />
          <label class="form-check-label" for="inputYearFE">FE</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="inputYear"
            id="inputYearSE"
            value="SE"
          />
          <label class="form-check-label" for="inputYearSE">SE</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="inputYear"
            id="inputYearTE"
            value="TE"
          />
          <label class="form-check-label" for="inputYearTE">TE</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="inputYear"
            id="inputYearBE"
            value="BE"
          />
          <label class="form-check-label" for="inputYearBE">BE</label>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputGender" class="col-sm-2 col-form-label">Gender</label>
      <div class="col-sm-10">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="inputGender"
            id="inputGenderM"
            value="Male"
            checked
          />
          <label class="form-check-label" for="inputGenderM">Male</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="inputGender"
            id="inputGenderF"
            value="Female"
          />
          <label class="form-check-label " for="inputGenderF">Female</label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary Registration form-control">Submit</button>
  </form>
</div>
<%-include('./partials/footer.ejs');%>
