<%-include('./partials/head.ejs', {title:"Message"});%>
<%-include('./partials/navbar.ejs');%>
<h1 class="container" style="text-align: center;margin-top:40%">
    <%=m1%>
</h1>
<%-include('./partials/footer.ejs');%>